<div id="sidemenu" class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
  <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    <i class="fa-solid fa-book-atlas me-2 fs-4"></i>
    <span class="fs-3 fw-semibold">Points of Interest</span>
  </a>
  <div class="list-group list-group-flush border-bottom scrollarea" id="mapPointsList">
  </div>
</div>
