<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
</head>

<body>

  <%- include('partials/_header') %>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center justify-content-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to Wiki Maps</h1>
        <p class="col-lg-10 fs-5">Get ready to explore the world of WikiMaps, where you can create and share detailed maps with your family and friends! We've designed powerful tools to help you find the best picnic spot in town, a great restaurant for date night, or a new trail to explore. Celebrate your hometown, discover your new favorite place or make attractive travel guides -- you'll always find something new in WikiMaps.</p>
      </div>
      <% if (!isLoggedIn) { %>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <hr class="my-4">
            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
      <% } %>
    </div>
  </div>

  <!-- Container Of Maps -->
  <div class="container px-4 py-5" id="custom-cards">

    <!-- Maps Title -->
    <h2 class="pb-2 border-bottom">Explore</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <!-- Map Card -->


      <% for(let map in maps) { %>
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('http://placeimg.com/640/480/arch');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= maps[map].title %></h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="http://placeimg.com/640/480/people" alt="Profile Pic" class="rounded-circle border border-white" width="32" height="32">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small>Earth</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <small>3d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% } %>

    </div>

  </div>

  <%- include('partials/_footer') %>

</body>

</html>
