<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="container">
    <div class="left"></div>
    <div class="right">
      <div class="form-title"><h1>Your World</h1><h2>your map</h2></div>
      <div class="form-inputs">
        <form method="POST" action="/users/login">
          <input type="email" name="email" placeholder="Your email address here." id="#userEmail" value="Fleur_Wit@yahoo.com" required>
          <input type="submit" name="login" value="Login" id="loginButton">
        </form>
      </div>
    </div>
  </div>
</body>

</html>
