<!DOCTYPE html>
<html lang="en">

<head>

  <title>Home Page</title>

  <%- include('partials/_head') %>

  <link rel="stylesheet" href="/styles/map.css" type="text/css" />

</head>

<body>

  <%- include('partials/_header') %>

  <main>

    <div id="map"></div>

    <%- include('partials/_sidemenu') %>
    <%- include('partials/_editnav') %>

  </main>

</body>

</html>
