<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <!-- nav bar -->
  <!-- main page element -->
  <main>
    <!-- sidebar -->
    <section class="sidebar">
      <div class="maps-list">
        <input class="add-map" type="button" value="New Map">
        <input type="button" value="My Map 1">
        <input type="button" value="My Map 2">
      </div>
      <div class="points-list">
        <input type="button" value="My point 1">
        <input type="button" value="My point 2">
        <input type="button" value="My point 3">
      </div>
    </section>
    <!-- map -->
    <section id="map">

    </section>
  </main>
  <!-- footer -->
</body>

</html>
