<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map-layout.css" type="text/css" />

  <!-- libraries -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- nav bar -->
  <!-- main page element -->
  <main>
    <!-- sidebar -->
    <section class="sidebar">
      <div class="maps-list">
        <input class="add-map" type="button" value="New Map">
        <input type="button" value="My Map 1">
        <input type="button" value="My Map 2">
      </div>
      <div class="points-list">
        <input type="button" value="My point 1">
        <input type="button" value="My point 2">
        <input type="button" value="My point 3">
      </div>
    </section>
    <!-- map -->
    <section id="map">

    </section>
  </main>
  <!-- footer -->
</body>

</html>
