<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <!-- Sets map to fullscreen  -->
  <style>
    #map {
      height: 100vw;
      width: 100vw;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  </style>
</head>

<body>
  <!-- The Map Object -->
  <div id="map"></div>
  <!-- Scripts for map and settings  -->
  <script>

    // Sets Map and it's initial location
    var map = L.map('map').setView([49.13068254312452, -123.14892282607158], 13);

    // Grabs titles (background images) for mapbox
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoibm9haHZhbmRlbmJlcmciLCJhIjoiY2t6ajRtazg2MGs5bjJwbnlveTFoN2cwaSJ9.fzC2TyqKFe8sidsYJlVzdQ'
    }).addTo(map);

    // Renders an Example Point
    var marker = L.marker([49.13068254312452, -123.14892282607158]).addTo(map);
    var marker1 = L.marker([48.13068254312452, -122.14892282607158]).addTo(map);

    // Renders an Example popup on point
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

    // Renders an example popup/point on click with lat/long of where you clicked
    // var popup = L.popup();
    function onMapClick(e) {
      //Add Popup
      // popup
      //   .setLatLng(e.latlng)
      //   .setContent("You clicked the map at " + e.latlng.toString())
      //   .openOn(map);

      //Add Point
      L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
    }
    map.on('click', onMapClick);

    // Render points from db
    const strLocations = '<%- JSON.stringify(locations) %>';
    let arrLocations = JSON.parse(strLocations);
    $(document).ready(function() {

      arrLocations.forEach(locationi => {
      L.marker([locationi.latitude, locationi.longitude]).addTo(map);
      console.log(locationi.latitude, locationi.longitude)
      });

    });


    // console.log('LAYER', L)
    // console.log('LAYER', map)
  </script>

</body>

</html>a
