:root {
  --background: red;
  --dark: #303030;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  z-index: 1;
}

.box {

  background: red;
  border: 0.25rem solid var(--background);
  outline: 0;
  overflow: none;
  z-index: 100;

}

.box::before {
  content: 'YOUR WORLD';
  font-size: 8rem;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box::after {
  content:'';
  position: relative;
  background-color: blue;
  border-radius: 45%;
  animation: spin 15s ease-in-out forwards;
}
