// See: https://sass-lang.com/

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #72bcd4; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  align-items:stretch;
}

#mySidenav {
  width: 10px; /* 10 width - change this with JavaScript */
  left: 0;
}

#myEditnav {
  width: 0px; /* 0 width - change this with JavaScript */
  right: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: darkblue;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 50px;
}

#mySidenav.closebtn {
  right: 25px;
}

#myEditnav.closebtn {
  left: 25px;
}

#openEditPane {
  display: none;
}

#map {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  z-index:10;
}
