body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  min-height: 100vh;
  background-image: url('../earth-background.jpg');
}

h1 {
  color: #E8F4F8;
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
  margin: 0em;
}

h2 {
  color: #E8F4F8;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
  font-style: italic;
  margin: 0em 0.25em;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 20px;
  margin: 2em;
  width:45vw;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width:100%;

  // margin-bottom: 0em;
  // padding-bottom: 0em;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width: 100%;
  margin-top: .25em;
}

input {
  display: block;
  text-align: center;
  width: 100%;
  height: 2.5em;
  // padding: 1em;
  border-style: none;
  background-color: #D4EBF2;

}

input[type='email'] {
  border-bottom: 2px solid #72bcd4;
}

#userEmail {
  color: #163D49;
  font-style: italic;
}
#loginButton {
  color: #163D49;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#loginButton:hover {
  background-color: lightblue;
}

