@media only screen and (max-width: 1255px) {
  .container {
    justify-content: center;
    align-items: flex-end;
  }

  .form-title {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
