
$sidebar-width: 300px;

main {
  display: flex;
}

.sidebar {
  display: flex;
  width: $sidebar-width;

  div {
    flex: auto;
    display: flex;
    flex-direction: column;
  }

}

#map {
  background-color: lightgrey;
  width: 100vw;
  height: 100vh;
}
